# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\实训\Java\project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
